img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px){
    img.bg {
        left: 50%;
        margin-left: -512px; 
    }
}

#header_top_left {
    /* Top left header */
    color: #ffffff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-size: 45px;

    position: absolute;
    left: 6.5%;
    top: 5%;
}


#cssmenu ul { margin: 0; padding: 0;}

#cssmenu li { margin: 0; padding: 0;}

#cssmenu a { margin: 0; padding: 0;}

#cssmenu ul {list-style: none;}

#cssmenu a {text-decoration: none;}

#cssmenu {
    /* drop down menu */
    height: 70px;           /* This is for the main menu bit at the top */
    width: 100%;            /* This means on every screen no matter the size, the width will cover the top  */
    line-height: normal;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0); 
    box-shadow: 0px 2px 3px rgba(0,0,0,.0);
    vertical-align: middle;
    position: absolute;
    top: 20px;
    font-family: 'Raleway', serif;
}

#cssmenu > ul {
    text-align:center;
}

#cssmenu > ul > li {
    display:inline-block;
    margin-left: 15px;       /* This is when the drop down box appears */
    position: relative;
}

#cssmenu > ul > li > a {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.16em;
    line-height: 70px;      /* This bit chances the size of the text on the main heading */
    padding: 15px 24px;     /* This is the padding between the different titles */
    -webkit-transition: color .15s;
    -moz-transition: color .15s;
    -o-transition: color .15s;
    transition: color .15s;
}

#cssmenu > ul > li > a:hover {
    color: rgb(125,125,125); 
}

#cssmenu > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    padding: 16px 0 20px 0;
    background-color: rgb(250,250,250);
    text-align: left;  /* This is for the text when box is dropped down, centered isnt always totally in the middle so best to have on the left */
    position: absolute;
    top: 55px;          /* This is for the drop down annimation */
    left: 50%;
    margin-left: -90px;
    width: 180px;
    z-index: 10;
    -webkit-transition: all .3s .1s;
    -moz-transition: all .3s .1s;
    -o-transition: all .3s .1s;
    transition: all .3s .1s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}

#cssmenu > ul > li:hover > ul {
    opacity: 1;
    top: 65px;          /* This is how far from the top the drop down annimation will go  */
    visibility: visible;
}

#cssmenu > ul > li > ul:before{
    /*Drop Down Box */
    content: '';
    display: block;
    border-color: transparent transparent rgb(250,250,250) transparent;
    border-style: solid;
    border-width: 10px;  /* The border on the drop down box  */ 
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
}

#cssmenu > ul ul > li { 
    position: absolute;
}

#cssmenu ul ul a{     /* This is the drop down menu, change font or size when its drops down */
    color: rgb(50,50,50);
    font-family: Verdana, 'Lucida Grande';
    font-size: 13px;   
    background-color: rgb(250,250,250);
    padding: 5px 8px 7px 16px;
    display: block;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
}

#cssmenu ul ul a:hover {
    background-color: rgb(240,240,240);
}

#cssmenu ul ul ul { 
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -16px;
    left: 206px;        /* This is for a sub sub menu */
    padding: 16px 0 20px 0;
    background-color: rgb(250,250,250);
    text-align: left;
    width: 160px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}

#cssmenu ul ul > li:hover > ul { 
    opacity: 1; 
    left: 196px;     
    visibility: visible;
}

#cssmenu ul ul a:hover{
    background-color: rgb(114,164,65);
    color: rgb(240,240,240);
}
                    
#main-layer-context { 
    /* This is the top layer of information sheet */
    position: absolute; 
    width: 1100px; 
    height: 400px;
    margin: 50px auto;
    padding: 20px; 
    background: white;
    -moz-box-shadow: 0 0 30px black;
    -webkit-box-shadow: 0 0 30px black;
    box-shadow: 0 0 30px black; 
    top: 650px;
    left: 7%;
}

#bottom-layer-context {
    /* Bottom layer of information sheet */
    position: absolute; 
    height: 1150px;
    width: 100%;
    padding: 20px; 
    background: #EAEEF1;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black; 
    top: 750px;
    left: 0px;
}

#left-informationandcontent { 
    /* Styling for text */
    font: 15px/1.5 'Raleway', serif; 
    width: 550px;
    text-align: left;
    letter-spacing: 0.03em;
    font-size: 40px;
    position: absolute;
    left: 60px;
    top: 110px;
}

#right-informationandcontent {
    /*Styling for text */
    font: 15px/1.5 'Roboto', serif; 
    width: 370px;
    text-align: left;
    letter-spacing: 0.07em;
    font-size: 23px;
    position: absolute;
    left: 655px;
    top: 93px;
}

.scrollup {
    width: 110px;
    height: 110px;
    position: fixed;
    top: 0px;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('scrollup.png') no-repeat;
    content:url("http://www.atlantic.com.my/images/arrow-up.png");
}
               
* {
    margin: 0;
    padding: 0;
}

#clock {
    position: relative;
    width: 450px;
    height: 450px;
    margin: 20px auto 0 auto;
    background: url(images/clockface3.png);
    background-size: 100%;
    background-repeat: none;
    list-style: none;
    top: 50px;
}

#sec, #min, #hour {
    position: absolute;
    width: 30px;
    height: 600px;
    top: -70px;
    left: 210px;
  
}

#sec {
    background: url(images/sechand3.png);
    z-index: 3;
}

#min {
    background: url(images/minhand2.png);
    z-index: 2;
}
   
#hour {
    background: url(images/hourhand2.png);
    z-index: 1;
  
}

#signIn {
    background-color: white;
    border: 1px solid #C0C0C0;
    padding: 5px;
}

#howitworkscontentpics {
    position: absolute;
    top: 150px;
    left: 200px;
}

#fixedNav{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(95,158, 160,0.5);

    
    height:100px;
    border:0.5px solid #000
}




/*  TILES */
#mixed-tiles .tile .type,#mixed-tiles .tile-tall .type,.hero-tile .type {
    display:block;
    position:relative;
    text-transform:uppercase;
    font-weight:500;
    color:#fff;
    opacity:.5;
}

#mixed-tiles .tile .type:after,#mixed-tiles .tile-tall .type:after,.hero-tile .type:after {
    display:block;
    width:12px;
    height:2px;
    position:absolute;
    bottom:-15px;
    left:50%;
    margin-left:-6px;
    content:" ";
    background:#FFF;
}

#mixed-tiles .tile h2,#mixed-tiles .tile-tall h2,.hero-tile h2 {
    font-size:22px;
    font-weight:300;
    line-height:1.3;
    color:#fff;
    margin-top:20px;
}

#mixed-tiles .tile.tile:nth-child(even) .type,#mixed-tiles .tile-tall.tile:nth-child(even) .type,.hero-tile.tile:nth-child(even) .type {
    color:#2D3F50;
    font-weight:600;
}

#mixed-tiles .tile.tile:nth-child(even) .type:after,#mixed-tiles .tile-tall.tile:nth-child(even) .type:after,.hero-tile.tile:nth-child(even) .type:after {
    background:#2D3F50;
}

#mixed-tiles .tile.tile.nth-child-even .type,#mixed-tiles .tile-tall.tile.nth-child-even .type,.hero-tile.tile.nth-child-even .type {
    font-weight:600;
    color:#2D3F50;
}

#mixed-tiles {
    z-index:1;
    margin:0 auto;
}

#mixed-tiles .tile,#mixed-tiles .tile-tall {
    position:relative;
    overflow:hidden;
    float:left;
    width:323px;
    background:#fff;
    -webkit-transform:translate(0,0);
    -moz-transform:translate(0,0);
    -ms-transform:translate(0,0);
    -o-transform:translate(0,0);
    transform:translate(0,0);
    -webkit-transition:0 .5s .5s;
    -moz-transition:0 .5s .5s;
    -o-transition:0 .5s .5s;
    transition:transform .5s .5s;
    padding:40px;
}

.no-touch.csstransitions.csstransitions #mixed-tiles .tile.offset-lift-effect,.no-touch.csstransitions.csstransitions #mixed-tiles .tile-tall.offset-lift-effect {
    opacity:0;
    -webkit-transform:translate(0,300px);
    -moz-transform:translate(0,300px);
    -ms-transform:translate(0,300px);
    -o-transform:translate(0,300px);
    transform:translate(0,300px);
}

#mixed-tiles .tile .image,#mixed-tiles .tile-tall .image {
    margin:-40px -40px 0;
}

#mixed-tiles .tile a.view,#mixed-tiles .tile-tall a.view {
    position:absolute;
    top:0;
    left:0;
    display:block;
    content:" ";
    width:100%;
    height:100%;
    border:0 solid #eaeef1;
    -webkit-transition:background-color .4s .2s;
    -moz-transition:background-color .4s .2s;
    -o-transition:background-color .4s .2s;
    transition:background-color .4s .2s;
    background:rgba(3,46,65,0) url(../images/plus-large.png) -9999px 0 no-repeat;
    text-indent:-9999px;
}

#mixed-tiles .tile-tall {
    background:#a0a0a0;
}

*,:before,:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

#mixed-tiles .tile.tile:nth-child(even) h2,#mixed-tiles .tile-tall.tile:nth-child(even) h2,.hero-tile.tile:nth-child(even) h2,#mixed-tiles .tile.tile.nth-child-even h2,#mixed-tiles .tile-tall.tile.nth-child-even h2,.hero-tile.tile.nth-child-even h2 {
    color:#2D3F50;
}

/* When user hovers */
#mixed-tiles .tile a.view:hover,#mixed-tiles .tile-tall a.view:hover,#blog-tiles a.view:hover,.no-touch .user-profiles.enhanced .tile .trigger:hover {
    background-position:center;
    background-color:rgba(48, 173, 35,0.8);
    border-width:20px;
}


#mixed-tiles .tile:nth-child(2),#mixed-tiles .tile.nth-child-2 {
    border-top:1px solid #eaeef1;
}

#mixed-tiles .tile-tall:nth-child(2),#mixed-tiles .tile-tall.nth-child-2 {
    border-top:0;
}

#mixed-tiles .tile:nth-child(3n+1),#mixed-tiles .tile.nth-child-3np1 {
    clear:left;
}

#mixed-tiles .tile:nth-child(odd),#mixed-tiles .tile-tall,#mixed-tiles .tile.nth-child-odd {
    height:409px;
}

#mixed-tiles .tile:nth-child(even),#mixed-tiles .tile.nth-child-even {
    height:293px;
    padding-top:79px;
}

#mixed-tiles .tile:nth-child(even).image-only,#mixed-tiles .tile.nth-child-even.image-only {
    padding-top:40px;
}

#mixed-tiles .tile:nth-child(6n-1),#mixed-tiles .tile.nth-child-6n-1 {
    margin-top:-116px;
}


/* Sets up restrictions */
@media min-width 100px{
    .container {
        width:1170px;
    }
}
/* End tiles */

