img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 1024px){
    img.bg {
        left: 50%;
        margin-left: -512px; 
    }
}

/*This is the header for the wake up time dropdowm*/
.wakeUpHead{
  color:#000000;
  font-size: 25px; 
  position: absolute; 
  left: 60px; 
  top: 90px;
}

/*This is the wake up hour dropdown*/
.wakeUpHour{
  width: 150px; 
  height: 50px; 
  position: absolute; 
  left: 100px; 
  top: 140px; 
  font-size: 18px;
}

/*This is the the wake up minute dropdown*/
.wakeUpMinutes{
  width: 150px; 
  height: 50px; 
  position: absolute; 
  left: 400px; 
  top: 140px; 
  font-size: 18px;
}

/*This is the sleep calculator title*/
.sleepCalcTitle{
  color:#000000;
  font-size: 25px; 
  position: absolute; 
  left: 150px; 
  top: 415px;
}

paper-dialog {
      width: 50%;
      min-width: 430px;
    }

    paper-dialog paper-button {
      font-weight: bold;
    }

    paper-button[autofocus] {
      color: #4285f4;
    }

#header_top_left {
    /* Top left header */
    color: #ffffff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-size: 55px;

    position: absolute;
    left: 6.5%;
    top: 0;
}


#cssmenu ul { margin: 0; padding: 0;}

#cssmenu li { margin: 0; padding: 0;}

#cssmenu a { margin: 0; padding: 0;}

#cssmenu ul {list-style: none;}

#cssmenu a {text-decoration: none;}

#cssmenu {
    /* drop down menu */
    height: 70px;           /* This is for the main menu bit at the top */
    width: 100%;            /* This means on every screen no matter the size, the width will cover the top  */
    line-height: normal;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0); 
    box-shadow: 0px 2px 3px rgba(0,0,0,.0);
    vertical-align: middle;
    position: absolute;
    top: 20px;
    font-family: 'Raleway', serif;
}

#cssmenu > ul {
    text-align:center;
}

#cssmenu > ul > li {
    display:inline-block;
    margin-left: 15px;       /* This is when the drop down box appears */
    position: relative;
}

#cssmenu > ul > li > a {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.16em;
    line-height: 70px;      /* This bit chances the size of the text on the main heading */
    padding: 15px 24px;     /* This is the padding between the different titles */
    -webkit-transition: color .15s;
    -moz-transition: color .15s;
    -o-transition: color .15s;
    transition: color .15s;
}

#cssmenu > ul > li > a:hover {
    color: rgb(125,125,125); 
}

#cssmenu > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    padding: 16px 0 20px 0;
    background-color: rgb(250,250,250);
    text-align: left;  /* This is for the text when box is dropped down, centered isnt always totally in the middle so best to have on the left */
    position: absolute;
    top: 55px;          /* This is for the drop down annimation */
    left: 50%;
    margin-left: -90px;
    width: 180px;
    z-index: 10;
    -webkit-transition: all .3s .1s;
    -moz-transition: all .3s .1s;
    -o-transition: all .3s .1s;
    transition: all .3s .1s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}

#cssmenu > ul > li:hover > ul {
    opacity: 1;
    top: 65px;          /* This is how far from the top the drop down annimation will go  */
    visibility: visible;
}

#cssmenu > ul > li > ul:before{
    /*Drop Down Box */
    content: '';
    display: block;
    border-color: transparent transparent rgb(250,250,250) transparent;
    border-style: solid;
    border-width: 10px;  /* The border on the drop down box  */ 
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
}

#cssmenu > ul ul > li { 
    position: absolute;
}

#cssmenu ul ul a{     /* This is the drop down menu, change font or size when its drops down */
    color: rgb(50,50,50);
    font-family: Verdana, 'Lucida Grande';
    font-size: 13px;   
    background-color: rgb(250,250,250);
    padding: 5px 8px 7px 16px;
    display: block;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
}

#cssmenu ul ul a:hover {
    background-color: rgb(240,240,240);
}

#cssmenu ul ul ul { 
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -16px;
    left: 206px;        /* This is for a sub sub menu */
    padding: 16px 0 20px 0;
    background-color: rgb(250,250,250);
    text-align: left;
    width: 160px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
    box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}

#cssmenu ul ul > li:hover > ul { 
    opacity: 1; 
    left: 196px;     
    visibility: visible;
}

#cssmenu ul ul a:hover{
    background-color: rgb(114,164,65);
    color: rgb(240,240,240);
}

.addAssignment{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    top:25px;
    margin-top: 150px;
}

.name {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 5em;
    color: #ffffff;
    letter-spacing: 0.25em;
}

label {
    display: block;
    margin-bottom: 10px;
}

.span3 {
    /*background-color: transparent;*/
    background-color: rgba(255,255, 255,0.75);
    border: 1px solid white;
    height: 35px;
    width: 200px;
    margin-right: 5px;


}

.span2 {
    /*background-color: transparent;*/
    background-color: rgba(255,255, 255,0.75);
    border: 1px solid white;
    height: 35px;
    width: 125px;
    margin-right: 5px;
}
.submit {
    background-color: white;
    border: 1px solid white;
    height: 40px;
    margin-right: 5px;
}

.newMins, .mins {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    font-size: 1.25em;
}


.addRow {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #ffffff;
    letter-spacing: 0.1em;
}

                    
#main-layer-context { 
    /* This is the top layer of information sheet */
    position: absolute; 
    width: 1100px; 
    height: 850px;
    margin: 50px auto;
    padding: 20px; 
    background: white;
    -moz-box-shadow: 0 0 30px black;
    -webkit-box-shadow: 0 0 30px black;
    box-shadow: 0 0 30px black; 
    top: 550px;
    left: 7%;
}

#bottom-layer-context {
    /* Bottom layer of information sheet */
    position: absolute; 
    height: 800px;
    width: 100%;
    padding: 20px; 
    background: #EAEEF1;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black; 
    top: 650px;
    left: 0px;
}

#left-informationandcontent { 
    /* Styling for text */
    font: 15px/1.5 'Raleway', serif; 
    width: 550px;
    text-align: left;
    letter-spacing: 0.03em;
    font-size: 40px;
    position: absolute;
    left: 60px;
    top: 80px;
}

#right-informationandcontent {
    /*Styling for test */
    font: 15px/1.5 'Roboto', serif; 
    width: 370px;
    text-align: left;
    letter-spacing: 0.07em;
    font-size: 23px;
    position: absolute;
    left: 655px;
    top: 93px;
}

.scrollup {
    width: 110px;
    height: 110px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('scrollup.png') no-repeat;
    content:url("http://www.atlantic.com.my/images/arrow-up.png");
}
               
* {
    margin: 0;
    padding: 0;
}

#clock {
    position: relative;
    width: 450px;
    height: 450px;
    margin: 20px auto 0 auto;
    background: url(images/clockface3.png);
    background-size: 100%;
    background-repeat: none;
    list-style: none;
    top: 50px;
}

#sec, #min, #hour {
    position: absolute;
    width: 30px;
    height: 600px;
    top: -70px;
    left: 210px;
  
}

#sec {
    background: url(images/sechand3.png);
    z-index: 3;
}

#min {
    background: url(images/minhand2.png);
    z-index: 2;
}
   
#hour {
    background: url(images/hourhand2.png);
    z-index: 1;
  
}

#signIn {
    background-color: white;
    border: 1px solid #C0C0C0;
    padding: 5px;
}

#fixedNav{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(95,158, 160,0.5);

    
    height:100px;
    border:0.5px solid #000

}

/* Table styling */
#hor-minimalist-b {
    font-family: 'Roboto', Sans-Serif;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.7);
    margin: 45px;
    width: 700px;
    height: 500px;
    border-collapse: collapse;
    text-align: left;
    border-radius: 10px
}

#hor-minimalist-b th {
    font-size: 20px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;

}

#hor-minimalist-b td {
    border-bottom: 1px solid grey;
    color: #669;
    padding: 6px 8px;
}

#hor-minimalist-b tbody tr:hover td{
    color: grey;
}
/* End table styling */

.welcomeText {
  font-family: 'Raleway';
  color: white;
  font-size: 1.3em;
  position: relative;
  top: 120px;
  left: 60px;
}

/* Add minutes icons */
[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  position: relative;
  speak: none;
}

.icon-home:after { 
  content: "5 min";
  font-size: .6em;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -10px;

 } 
.icon-cog:after { 
  content: "15 min";
  font-size: .6em;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -10px;
} 
.icon-cw:after { 
  content: "30 min";
  font-size: .6em;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -10px;
} 
.icon-location:after { 
  content: "1 hr"; 
  font-size: .6em;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -10px;
} 

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
  margin: 0;
  padding: 0;
}

html {
  color: none;
  font-size: 100%;    
}

body {
  -webkit-font-smoothing: antialiased; 
  font-size:18px; 
  font-size:1.125rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #DD6C4F;
}

a:hover {
  text-decoration:underline;
}

a:focus { 
  outline: none;
}

.page-wrap {
  width: 960px;
  /* ISSAM THIS IS TO LOWER THE BUTTONS*/
  margin: 0px auto;
}

.nav {
  list-style: none;
  text-align: left;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: 20px; /* See: http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
}

.nav li:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav a {
  display: block;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7; 
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.nav a:before {
  content: "";
  display: block;
  background: #FFF;
  border-top: 2px solid #bdd;
  position: absolute;
  top: -22px;
  left: -22px;
  bottom: -22px;
  right: -22px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.nav a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

/*start and stop buttons*/
.stopwatch {
    display: inline-block;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
  }
  .stopwatch span {
    font-weight: bold;
    display: block;
  }
  .stopwatch a {
    padding-right: 5px;
    text-decoration: none;
  }

  .highlight {
    background-color: yellow;
  }
